

<div class="questions">
  <div class="question_item question_text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem enim eum facilis, magnam natus quisquam. Accusantium culpa cumque, harum iure iusto molestias officiis perspiciatis provident reiciendis sequi totam, veritatis voluptatum.</p>
  </div>

  <div class="question_item">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Питання 1
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Відповідь 1.</p>
    </mat-expansion-panel>
  </div>

  <div class="question_item">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Питання 2
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Відповідь 2.</p>
    </mat-expansion-panel>
  </div>

  <div class="question_item">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Питання 3
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Відповідь 3.</p>
    </mat-expansion-panel>
  </div>
</div>


