

<div class="questions">
  <div class="question_item question_text">
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem enim eum facilis, magnam natus quisquam. Accusantium culpa cumque, harum iure iusto molestias officiis perspiciatis provident reiciendis sequi totam, veritatis voluptatum.</p>-->
    <p>
      Даний портал призначений для керування ботом розкладу НЛТУ. В ньому ви можете завантажити новий розклад, редагувати його, переглянути користувачів, а також надсилати сповіщення за допомогою ботa.
      <br>Детально про кожну секцію порталу можна прочитати нижче.
    </p>
  </div>

  <div class="question_item">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Секція "Розклад"
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        В секції "Розклад" можна як подивитись розклад для поточної групи, так і редагувати його, натиснувши відповідну кнопку. При цьому назви предметів будуть підсвічені двома кольорами: зеленим і червоним.
        Зелений означає, що предмет був точно скопійований з документу під час імпорту. Червоний - предмет був скопійований з сусіднього поля, оскільки в документі це поле не було записано, отже цей предмет ймовірно правильний.
        При натисканні на комірку з предметом ми можемо редагувати його. <br>Після того як розклад відредаговано, його потрібно зберегти, натиснувши відповідну кнопку зверху справа, щоб весь розклад був білим.
      </p>
    </mat-expansion-panel>
  </div>

  <div class="question_item">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Секція "Завантажити"
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        В цій секції можна оновити розклад, завантаживши ексель файл з ним. Розклад імпортується не з абсолютною точністю, тому після завантаження потрібно перейти до секції "Розклад", щоб відредагувати його.
        <br>Для того, щоб завантажити розклад, потрібно спочатку обрати інститут, після цього вибрати файл з відповідним розкладом і натиснути "Завантажити".
      </p>
    </mat-expansion-panel>
  </div>

  <div class="question_item">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Секція "Оголошення"
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Ця секція дозволяє зробити оголошення, яке буде надіслане ботом.
        <br>Можна вибрати з такий варіантів: надіслати всім користувачам, обраному інституту, групі, а також старостам обраного інституту.
      </p>
    </mat-expansion-panel>
  </div>

  <div class="question_item">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Секція "Користувачі"
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        В цій секції можна переглянути всіх користувачів, які запускали бота. Є можливість сортувати кожну колонку таблиці, робити пошук по всіх полях, а також обирати, скільки користувачів слід показувати на сторінці
        Також для кожного користувача можна надіслати повідомлення через бота, або призначити його старостою, якщо в нього вже є обрана група. При цьому поточний староста цієї групи втратить цю роль.
      </p>
    </mat-expansion-panel>
  </div>
</div>


