<div class="table_item">
  <mat-form-field>
    <mat-label>Виберіть групу</mat-label>
    <mat-select [(ngModel)]="currentGroup" (valueChange)="getScheduleByName($event)">
      <mat-option *ngFor="let group of groups" [value]="group">
        {{group}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div style="float: right">
    <button *ngIf="isEdit" mat-raised-button class="header_item" (click)="saveClick()">Зберегти</button>
    <button *ngIf="!isEdit" mat-raised-button class="header_item" (click)="saveClick()">Редагувати</button>
    <p *ngIf="updatingError" style="color: red">{{updatingError}}</p>
  </div>

  <table class="schedule_table">
    <thead>
    <tr>
      <th style="border-right: 3px solid #177a33; height: 40px">День</th>
      <th style="border-right: 3px solid #177a33; height: 40px">Час</th>
      <th style="border-right: 3px solid #177a33; height: 40px">Непарний</th>
      <th style="border-left: 3px solid #177a33; height: 40px">Парний</th>
    </tr>
    </thead>
    <tbody *ngFor="let day of currentSchedule; index as dayIndex">
    <tr *ngFor="let cell of day.lesson; index as i let isFirst = first">
      <td *ngIf="isFirst" [attr.rowspan]="day.lesson.length" class="table_day_row">{{day.day}}</td>
      <td class="table_row">{{times[i]}}</td>
      <td class="table_row">
        <app-schedule-item [inputItem] ="cell.nameOfLesson[0]" (onChanged)="onChanged($event, i, dayIndex, 0)"></app-schedule-item>
      </td>
      <td class="table_row">
        <app-schedule-item [inputItem] ="cell.nameOfLesson[1]" (onChanged)="onChanged($event, i, dayIndex, 1)"></app-schedule-item>
      </td>
    </tr>
    </tbody>
  </table>
</div>

