<div class="import_content">


  <div class="progress" *ngIf="!isImported">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div class="import_section_item">
    <mat-form-field>
      <mat-label>Виберіть інститут</mat-label>
      <mat-select [(ngModel)]="currentSection" (ngModelChange)="sectionClick()">
        <mat-option *ngFor="let section of sections" [value]="section">
          {{section}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="isClicked" class="import_file_item">
    <input
      style="display: none"
      type="file" (change)="onFileChanged($event)"
      #fileInput>

    <div class="import_file_selected">
      <p *ngIf="isFileSelect" class="import_file_name">{{selectedFile.name}}</p>
      <button class="import_button" mat-raised-button (click)="fileInput.click()">Вибрати файл</button>
    </div>
  </div>

  <button class="import_button" mat-raised-button *ngIf="isFileSelect" (click)="onUpload()">Завантажити</button>

  <p *ngIf="isDone">Завантажено успішно</p>
  <p *ngIf="isError">Помилка завантаження</p>

</div>

