<div class="import_content">
  <div class="import_section_item">
    <mat-form-field>
      <mat-label>Виберіть інститут</mat-label>
      <mat-select [(ngModel)]="currentSection" (ngModelChange)="sectionClick()">
        <mat-option *ngFor="let section of sections" [value]="section">
          {{section}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="isClicked" class="import_file_item">
    <input
      style="display: none"
      type="file" (change)="onFileChanged($event)"
      #fileInput>
    <button class="import_button" mat-raised-button (click)="fileInput.click()">Вибрати файл</button>
  </div>

  <button class="import_button" mat-raised-button *ngIf="isFileSelect" (click)="onUpload()">Завантажити</button>

  <p *ngIf="isDone">Завантажено успішно</p>
  <p *ngIf="isError">Помилка завантаження</p>
  <div *ngIf="!isImported" class="import_progress">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

</div>

