/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-green);
$candy-app-accent:  mat-palette($mat-lime, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #e8f7ec}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.login_page {
  width: 50%;
  margin: 0px auto;
  padding: 40px 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.login_form {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-height: 180px;
  margin-top: 40px;
  padding-top: 40px;
  background-color: #90d7a4;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.error_message {
  display: block;
  max-width: 80%;
  margin: 5px auto;
  color: #d44110;
}

.input-container{
  position:relative;
  width: 80%;
  margin:0 auto 25px;
}

.login_button_container {
  margin: 25px;
}

.login_button {
  width: 100%;
  border-radius:42px;
  border:1px solid #18ab29;
  cursor:pointer;
  font-family:Arial;
  font-size:16px;
  background-color: #6bc985;
  color: darkgreen;
  font-weight: bold;
}

.login_spinner {
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.65);
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
}


.page_content {
  max-width: 90%;
  min-height: 100%;
  background-color: #bce7c8;
  margin: auto;
  padding-bottom: 30px;
}

.page_header {
  min-height: 50px;
  max-width: 100%;
  background-color: #4ebf6e;
  margin-bottom: 30px;
}

.header_content {
  margin: 0 auto;
  padding: 6px;
  max-width: 96%;
}

.header_item {
  background-color: #90d7a4;
  color: darkgreen;
  font-weight: bold;
}

.header_back_button {
  float: left;
}

.header_logout_button {
  float: right;
}

.list_item {
  max-width: 90%;
  margin: 5px auto;
}

.section_list {
  max-width: 75%;
  margin: 5px auto;
}

.section_item {
  margin: 20px auto;
  max-width: 100%;
  text-align: center;
  font-size: 28px;
}

.section_item_text {
  padding: 12px;
}

.card {
  cursor: pointer;
}

/*new table*/
.schedule_table {
  width: 100%;
  background-color: white;
  color: #474747;
  //font-weight: bold;
  font-size: 16px;
}

.schedule_not_exists {
  margin: 20px auto;
  text-align: center;
  font-size: 24px;
}

.table_item {
  width: 90%;
  margin: 5px auto;
  padding-bottom: 30px;
}

.table_day_row {
  width: 9%;
  border-top: 3px solid #b2b2b2;
  text-align: center;
}

.table_time_row {
  width: 8%;
  border-top: 3px solid #b2b2b2;
  border-left: 3px solid #b2b2b2;
  text-align: center;
}

.table_row {
  border-top: 3px solid #b2b2b2;
  border-left: 3px solid #b2b2b2;
  margin: 5px auto;
  text-align: center;
  padding: 8px;
}

.item_input {
  width: 100%;
  //background-color: #e8f7ec;
  color: #474747;
  //font-weight: bold;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
}

.item_output {
  //background-color: #e8f7ec;
}

.table_spinner {
  margin-top: 60px;
}

//menu
.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 80px auto;
  padding: 40px;
  max-width: 80%;
  background-color: #90d7a4;
}

.menu-item {
  flex-basis: 35%;
  margin: 20px auto;
  max-width: 80%;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
}

.menu-text {
  padding: 20px;
}

//import
.import_content {
  margin: 80px auto;
  padding: 20px;
  max-width: 80%;
  background-color: #90d7a4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.import_file_item {
  width: 30%;
  margin-bottom: 20px;
}

.import_title {
  text-align: center;
  font-size: larger;
  font-weight: bolder;
}

.progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.import_file_selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
}

.import_file_name {
  margin-right: 10px;
}

//users
.users_table {
  width: 90%;
  margin: 20px auto;
}

.users_table_header {
  height: 60px;
  width: 90%;
  margin: 20px auto;
  background-color: white;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users_table_search {
  width: 260px;
  margin-left: 30px;
  font-size: 14px;
}

.users_table_other {
  width: 10px;
  padding: 10px !important;
}

//about
.questions {
  width: 90%;
  margin: 10px auto;
}

.question_item {
  margin: 10px 0;
}

.question_text {
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1), 0px 8px 10px 1px rgba(0, 0, 0, 0.12), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

}

//notification
.notification_header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 80px auto 40px;
  padding: 40px;
  max-width: 80%;
  background-color: #90d7a4;
}

.notification_header_item {
  flex-basis: 20%;
  margin: 20px auto;
  max-width: 80%;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.notification_header_item_text {
  text-align: center;
}

.notification_text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 40px auto;
  padding: 40px;
  max-width: 80%;
  background-color: #90d7a4;
}

.notification_content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 40px auto;
  padding: 40px;
  max-width: 80%;
  background-color: #90d7a4;
}

.notification_text_input {
  width: 90%;
}

.notification_send_button {
  max-width: 40%;
  margin: 0 auto;
}

.notification_active_button {
  background-color: #6bc985;
  color: darkgreen;
}

